<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link
      href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





 

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126897865-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126897865-8');
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateFunction"></script>
<script>function googleTranslateFunction() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<!-- AddToAny END -->
</head>
  <style>
.goog-te-gadget-simple {
display: inline-block;
cursor: pointer;
margin-top: 50px;
zoom: 1;
display: inline;
}
.goog-te-gadget-icon {
margin-left: 10px;
width: 5px;
height: 0px;
border: none;
vertical-align: middle;
}
    /* display this row with flex and use wrap (= respect columns' widths) */

    .row-flex {
      display: flex;
      flex-wrap: wrap;
    }

    /* vertical spacing between columns */

    [class*="col-"] {
      margin-bottom: 30px;
    }

    .content {
      height: 100%;
      padding: 20px 20px 10px;
      color: #fff;
    }

    /* Demo backgrounds and styling*/

    .colour-1 {
      background: #483c46;
      color: #fff;
    }

    .colour-2 {
      background: #3c6e71;
    }

    .colour-3 {
      background: #70ae6e;
    }

    .colour-4 {
      background: #82204a;
    }

    .colour-5 {
      background: #558c8c;
    }

    .colour-6 {
      background: #917c78;
    }

    body {
      padding: 0;
      font-family:'Comfortaa', cursive;
      background-color: lightblue;
    }

    .content h3 {
      margin-top: 0px;
      font-weight: 300;
    }

    h1 {
      font-weight: 300;
      margin-bottom: 40px;
    }

    .ui-autocomplete {
      max-height: 300px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }

   </style>
