<div id="fb-root"></div>
<script async defer crossorigin="anonymous"></script>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">PDF ELIXIR</a>
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a target="_blank" href="/contactus">Contact us</a></li>
          <li class="active">
            <a target="_blank" href="https://dareriazor.medium.com/15-best-free-pdf-converters-2cced74f0c5a"
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

 
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <h1>Share On 💝 </h1>
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_linkedin"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>

