<style type=text/css>

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  li {
    text-align: -webkit-match-parent;
  }

  .jkSeLq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .kVIQfP {
    display: flex;
    position: relative;
    padding: 16px 56px 16px 64px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    user-select: none;
    outline: none;
    height: 120px;
    background: rgb(250, 250, 250);
  }

  .kVIQfP {
    display: flex;
    position: relative;
    padding: 16px 56px 16px 64px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    user-select: none;
    outline: none;
    height: 120px;
    background: rgb(250, 250, 250);
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  div {
    display: block;
  }

  .jkSeLq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  @media (min-width: 0px) and (max-width: 1023px) {}

  .ceYKI {
    padding: 24px 0px;
  }

  @media (min-width: 0px) and (max-width: 639px) {}

  .lcJXfA {
    padding: 0px 24px;
    width: 100%;
  }

  .lcJXfA {
    margin: 0px auto;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    padding: 0px;
  }


  .bhAFtM {
    width: 100%;
    padding: 8px;
  }

  .bhAFtM {
    display: flex;
  }


  li {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .kVIQfP {
    display: flex;
    position: relative;
    padding: 16px 56px 16px 64px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    user-select: none;
    outline: none;
    height: 120px;
    background: rgb(250, 250, 250);
  }

  @media (min-width: 0px) and (max-width: 639px) {}

  .iUiZBt {
    margin: -8px;
    width: calc(100% + 16px);
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  @media (min-width: 0px) and (max-width: 639px) {}

  .bhAFtM {
    width: 100%;
    padding: 8px;
  }

  .bhAFtM {
    display: flex;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  user agent stylesheet li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  .jkSeLq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  user agent stylesheet div {
    display: block;
  }

  user agent stylesheet li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  .kVIQfP {
    display: flex;
    position: relative;
    padding: 16px 56px 16px 64px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    user-select: none;
    outline: none;
    height: 120px;
    background: rgb(250, 250, 250);
  }

  .jtToNe {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(26, 26, 26);
    position: absolute;
    pointer-events: none;
    text-align: initial;
    left: 65px;
    right: 57px;
    margin: 0px;
    top: 41px;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  user agent stylesheet p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  element.style {
    width: 32px;
    height: 32px;
  }

  .jgylRt {
    position: absolute;
    color: rgb(26, 26, 26);
    pointer-events: none;
    right: 17px;
    top: 17px;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

div {
    display: block;
  }

   li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  .dOHSmX {
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 17px;
  }

  .csDfHB {
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  div {
    display: block;
  }

  li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  user agent stylesheet ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  .lfMGmO {
    text-decoration: inherit;
    color: inherit;
  }

  a {
    background-color: transparent;
  }

  * {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

 li {
    text-align: -webkit-match-parent;
  }

  .iUiZBt {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }

  user agent stylesheet ul {
    list-style-type: disc;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
</style>
<h1 class="text-center">We make PDF easy</h1>

<div id="google_translate_element"></div>
<br /><br />
<div class="pvbp07-0 ceYKI">
  <div class="sc-1k9qdlb-0 lcJXfA">
    <ul class="sc-1sr2v2y-0 iUiZBt">
      <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq">
          <a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/compressfiles">Compress PDF</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#F23030"></path>
              <path
                d="M8.54616 8.54616L10.4096 16L8.54616 23.4538L16 21.5904L23.4538 23.4538L21.5904 16L23.4538 8.54616L16 10.4096L8.54616 8.54616ZM7 7L16 9.25L25 7L22.75 16L25 25L16 22.75L7 25L9.25 16L7 7Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Reduce the size of your PDF without losing quality</p>
        </div>
      </li>

      <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq">
          <a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/txttopdf">Plain TXT to PDF</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#F23030"></path>
              <path
                d="M17.6508 13L18.5 12.1991L17.2286 11H22V15H23V10H22H17.2286L18.5 8.80094L17.6508 8L15 10.5L17.6508 13ZM10 22H9V17H10V21H14.7714L13.5 19.8009L14.3492 19L17 21.5L14.3492 24L13.5 23.1991L14.7714 22H10ZM7 7H14V16H7V7ZM8 15H13V8H8V15ZM18 16H25V25H18V16ZM19 24H24V17H19V24Z"
                fill="white"></path>
            </svg>
          </div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg>
            </div>
          </div>
          <p class="ojwc4z-5 jtToNe">Convert Plain Text files to PDF</p>
        </div>
      </li>

     

      <!-- <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="//mergepdf">MERGE PDF</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#FF8000"></path>
              <path fill-rule="evenodd"
                d="M18 7H8H7V8V20V21H8H13V24V25H14H24H25V24V11V10H24H19V8V7H18ZM24 24V11H19V15C21.2091 15 23 16.7909 23 19C23 21.2091 21.2091 23 19 23C17.5194 23 16.2267 22.1956 15.5351 21H14V24H24ZM18 10V11V20H14H13H8V8H18V10ZM19 18.5V16C20.4865 16 21.7205 17.0811 21.9585 18.5H19ZM19 20V19.5H21.9585C21.7205 20.9189 20.4865 22 19 22C18.1284 22 17.3228 21.6257 16.7634 21H18H19V20Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Combine multiple PDFs into one unified document </p>
        </div>
      </li>-->
      <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/texttospeech">TEXT TO SPEECH</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#FFB700"></path>
              <path fill-rule="evenodd"
                d="M18 7H8H7V8V18.0026V20V21H8H13V24V25H14H24H25V24V12V11H24H19V8V7H18ZM24 12H19V16.97V20V21H18H14V24H24V12ZM18 17.6264V20H14H13H8V18.7507L11.1879 16.5426L13.4955 18.9401L16.9568 16.5426L18 17.6264ZM18 12V15.9311L17.1039 15L13.6425 17.3975L11.3349 15L8 17.3099V8H18V11V12ZM17 12.5C17 13.3284 16.3284 14 15.5 14C14.6716 14 14 13.3284 14 12.5C14 11.6716 14.6716 11 15.5 11C16.3284 11 17 11.6716 17 12.5Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Transform text to Speech</p>
        </div>
      </li>
      <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/cropimage">CROP IMAGE</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#FFB700"></path>
              <path fill-rule="evenodd"
                d="M18 7H8H7V8V20V21H8H13V21.0084V24V25H14H24H25V24V20.5V12V11H24H19V8V7H18ZM24 19.4623V12H19V20V20.3585L19.5545 20.934L23.0727 18.5L24 19.4623ZM18.0404 21L18 21.0419L19.4051 22.5L22.9233 20.066L24 21.1833V24H14V21.7161L14.9884 21H18H18.0404ZM14 20H14.3918H18V12V11V8H8V20H13H14ZM21.5 18C22.3284 18 23 17.3284 23 16.5C23 15.6716 22.3284 15 21.5 15C20.6716 15 20 15.6716 20 16.5C20 17.3284 20.6716 18 21.5 18Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Crop images from your PDF or save each page as a separate image</p>
        </div>
      </li>
      <!-- <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/compressimage">COMPRESS IMAGES</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#00CC44"></path>
              <path fill-rule="evenodd"
                d="M17 7H8H7V8V20V21H8H14V24V25H15H24H25V24V12V11H24H18V8V7H17ZM24 12H18V20V21H17H15V24H24V12ZM17 11V12V20H15H14H8V8H17V11ZM10 12H12H13H15H16V13V15V16V18V19H15H13H12H10H9V18V12H10ZM10 13H12V15H10V13ZM10 16H12V18H10V16ZM13 16V18H15V16H13ZM13 13V15H15V13H13Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Reduce size of your images</p>
        </div>
      </li>
      <li class="ak39fa-0 bhAFtM"> -->
        <!-- <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/encryptpdf">Password Encrypt PDF</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#0FC0C5"></path>
              <path
                d="M22 24V13H23V25H8V7H20V8H9V24H22ZM16 14L23 7L25 9L18 16H16V14ZM15 16H13H12H10V17H12V22H10V23H12H13H15V22H13V17H15V16Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Add a password and encrypt your PDF file</p>
        </div>
      </li>--> 
      <li class="ak39fa-0 bhAFtM"> 
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/imageconverter">IMAGE CONVERTOR</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#0FC0C5"></path>
              <path
                d="M23 11V10L20 7H19H9V18H7V22H9V25H23V11ZM20 8.5L21.5 10H20V8.5ZM19 8V10V11H20H22V24H10L10.0002 22H16V18H10.0007L10.0018 8H19ZM20 18H17V19H20V18ZM20 20H17V21H20V20ZM20 16H12V17H20V16ZM20 14H12V15H20V14Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Convert your image from one format to another</p>
        </div>
      </li>
      <!-- <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP"
            href="/imagetopdf">IMAGE TO PDF</a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#0FC0C5"></path>
              <path fill-rule="evenodd"
                d="M17 7H8H7V8V19V20H8H14V24V25H15H24H25V24V12V11H24H18V8V7H17ZM24 12H18V19V20H17H15V24H24V12ZM17 12V19H15H14H8V8H17V11V12ZM10.948 15.048V16H14.18V15.048H13.228V10.92H12.364C12.004 11.136 11.652 11.28 11.1 11.384V12.112H12.052V15.048H10.948ZM18.072 21V20.328L18.6551 19.7738C19.6333 18.8324 20.28 18.1183 20.28 17.512C20.28 17.016 20 16.744 19.56 16.744C19.192 16.744 18.912 16.992 18.656 17.264L18.016 16.632C18.52 16.096 18.992 15.824 19.72 15.824C20.72 15.824 21.4 16.464 21.4 17.44C21.4 18.296 20.6 19.208 19.776 20.072C20.032 20.04 20.384 20.008 20.624 20.008H21.648V21H18.072Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Convert Image to PDF</p>
        </div>
      </li> -->
      <li class="ak39fa-0 bhAFtM">
        <div class="ojwc4z-0 jkSeLq"><a class="sc-1bu7qfl-0 lfMGmO ojwc4z-2 kVIQfP" href="/resizeimage">RESIZE IMAGE
           </a>
          <div class="sc-1gyxcpm-0 csDfHB ojwc4z-4 dOHSmX" style="width:32px;height:32px"><svg viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2C0 0.895431 0.895431 0 2 0H30C31.1046 0 32 0.895431 32 2V30C32 31.1046 31.1046 32 30 32H2C0.895431 32 0 31.1046 0 30V2Z"
                fill="#0FC0C5"></path>
              <path fill-rule="evenodd"
                d="M20 8H12V11H10H8V12H10.0659L10.8571 24H21.1429L21.9341 12H24V11H22H20V8ZM12 12H11L11.7371 23H20.2629L21 12H20H12ZM15.5 13H16.5V22H15.5V13ZM14 13H13V22H14V13ZM18 13H19V22H18V13ZM13 9V11H19V9H13Z"
                fill="white"></path>
            </svg></div>
          <div class="ojwc4z-1 jgylRt">
            <div class="sc-1gyxcpm-0 csDfHB" style="width:24px;height:24px"><svg viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M9 7L10 6L16 12L10 18L9 17L14.17 12L9 7Z"></path>
              </svg></div>
          </div>
          <p class="ojwc4z-5 jtToNe">Resize your images to different scale</p>
        </div>
      </li>
    </ul>
  </div>
</div>
