<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>


      <div class="container">
          <h1 class="text-center">
              Compress Files to ZIP File
          </h1>
          <form action="/compressfiles" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload Files:</label>
                <input class="form-control" type="file" name="file" id="" multiple required>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-danger">
                    Download ZIP File
                </button>
            </div>
        </form>

        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
<script>
   // Basic Slider
   var slider = new Slider("#basic", {
        tooltip: 'always'
      });
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>