<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>

      <div class="container">
          <h1 class="text-center">
              Compress Image Online
          </h1>
          <form action="/compressimage" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload Image:</label>
                <input class="form-control" type="file" name="file" id="" required>
            </div>
            <div class="form-group">
                <label for="speed">Choose Quality:</label>
                <input id="basic" name="quality" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-block btn-danger">
                    Download Image
                </button>
            </div>
        </form>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    // Basic Slider
    var slider = new Slider("#basic", {
         tooltip: 'always'
       });
 </script>
</html>