<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>
    <div class="container">
      <%-include('./partials/services');%>
      <%-include('./partials/jumbotron');%>         
    </div>
  </body>
</html>
