<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>

      <div class="container">
          <h1 class="text-center">
              Merge Multiple PDF Online
          </h1>
          <form action="/mergepdf" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="files">Single or Multiple PDF:</label>
                <input class="form-control" multiple type="file" accept="application/pdf" name="file" id="" required>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-danger">
                    Merge PDF
                </button>
            </div>
        </form>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>